@font-face {
  font-family: "iconfont";
  /* Project id 4584363 */
  src: url('../iconfont.woff2?t=1718270506676') format('woff2'),
    url('../iconfont.woff?t=1718270506676') format('woff'),
    url('../iconfont.ttf?t=1718270506676') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gongyingshangguanlis:before {
  content: "\e61a";
}